{% extends "base/base.html" %}

{% block contenido %}
	<style>
		.colapsedRow {
			transition: visibility 0s, opacity 0.5s linear;
		}
		.colapsedRow.oculto {
			visibility: hidden!important;
			opacity: 0!important;
		}
		.colapsedRow.oculto td {
			display: none;
		}
		.colapsedRow.visible {
			visibility: visible!important;
			opacity: 1!important;
		}
		.colapsedRow.visible td {
			display: table-cell;
		}
	</style>
	<div class="row" ng-controller="historicoController">
	    <h2>Historico Solicitud</h2>
	    <p><b>Id:</b> [[solicitud[0].numero]]</p>
	    <p><b>Asunto:</b> [[solicitud[0].asunto]]</p>
	    <p><b>Estudiante:</b> [[solicitud[0].estudiante]]</p>
	    <table class="table">
	        <thead>
	            <tr>
	                <th>Paso</th>
	                <th>Agente</th>
	                <th>Fecha Inicio (A-M-D)</th>
	                <th>Fecha Fin (A-M-D)</th>
	                <th>Detalle</th>
	            </tr>
	        </thead>
	        <tbody ng-repeat="log in logs">
            	<tr>
	                <td>[[log.paso]]</td>
	                <td>[[log.agente]]</td>
	                <td ng-bind="fechaLegible(log.fecha)"></td>
	                <td ng-bind="fechaLegible(logs[$index + 1].fecha)"></td>
	                <td>
	                    <a href="" class="btn" ng-class="isCollapsed[$index] ? 'btn-danger' : 'btn-info'" ng-click="isCollapsed[$index] = !isCollapsed[$index]" ng-bind="isCollapsed[$index] ? 'Ocultar Detalle' : 'Ver Detalle'"></a>
	                </td>
                </tr>
                <tr class="colapsedRow" ng-class="isCollapsed[$index] ? 'visible' : 'oculto'">
                	<td colspan="5"><p><b>Observación: </b> [[log.observaciones]]</p></td>
                </tr>
	        </tbody>
	    </table>
	</div>
{% endblock%}

{% block contenido_javascript %}
{% include "solicitudes/historico/scripts.js" %}
{% endblock%}