{% extends "base/base.html" %}

{% block contenido %}
	<div class="row" ng-controller="historicoController">
	    <h2>Historico Solicitud</h2>
	    <table class="table">
	        <thead>
	            <tr>
	                <th>Paso</th>
	                <th>Agente</th>
	                <th>Observaciones</th>
	                <th>Fecha Inicio</th>
	                <th>Fecha Fin</th>
	                <th>Detalle</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr ng-repeat="log in logs">
	                <td>[[log.paso]]</td>
	                <td>[[log.agente]]</td>
	                <td>[[log.observaciones]]</td>
	                <td>[[log.fecha]]</td>
	                <td>[[logs[$index + 1].fecha]]</td>
	                <td>
	                    <a href="" class="btn btn-info" ng-click="open($index)">Ver Detalle</a>
	                </td>
	            </tr>
	        </tbody>
	    </table>
	    <script type="text/ng-template" id="detalleHistorico.html">
	        <div class="modal-header">
	            <h3 class="modal-title" id="modal-title">Detalle Paso</h3>
	        </div>
	        <div class="modal-body" id="modal-body">
	            <h4>Encargado</h4>
	            <p ng-bind="logs[0].agente"></p>
	            <h4>Observación</h4>
	            <p ng-bind="loquesea"></p>
	        </div>
	        <div class="modal-footer">
	            <button class="btn btn-warning" type="button" ng-click="close()">Cancel</button>
	        </div>
	    </script>
	</div>
{% endblock%}

{% block contenido_javascript %}
{% include "solicitudes/historico/scripts.js" %}
{% endblock%}