{% extends "base/base.html" %}

{% block contenido %}
<div ng-controller="formularioController" class="row">
<button class="btn btn-default" ng-click="volver()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</button>
    <form name="formularioForm" method="POST">
        {% csrf_token %}
        <div ng-if="comentarios_antiguos.length !== 0">
            <center><h2>[[paso[0].nombre]]</h2></center>
            <p><b>Proceso:</b> [[paso[0].proceso]]</p>
            <p><b>Solicitante:</b> [[paso[0].first_name+' '+paso[0].last_name]]</p>
        </div>
        <div ng-if="comentarios_antiguos.length === 0">
            <center><h2>Petición de solicitud</h2></center>
        </div>
        <div class="form-group">
            <label for="comentarios">Comentarios generales</label>
            <textarea class="form-control" id="comentarios" ng-model="comentarios" name="comentarios" placeholder="Agrega un comentario" ng-disabled="!mostrarBotones"></textarea>
            <div ng-if="mostrarBotones">
                <a onClick="mostrarAdjuntar()">Adjuntar</a>
            </div>
            <div id="adjuntar" name="adjuntar" style="display: none;">
                <input class="form-control" ng-model="docfile" type="file" name="docfile" id="docfile">
            </div>
            <div class="alert alert-danger" role="alert" ng-if="mensaje !== ''">[[mensaje]]</div>
        </div>
        <div class="form-group" ng-if="paso.length === 0 && mostrarBotones">
            <button type="button" class="btn btn-success" ng-click="guardarEnviar()">Guardar y enviar</button>
        </div>
        <div class="form-group" ng-if="paso.length !== 0 && mostrarBotones">
            <button type="button" class="btn btn-info" ng-click="guardar()">Guardar</button>
            <button type="button" class="btn btn-warning" ng-if="paso[0].numero !== 1" ng-click="guardarDevolver()">Guardar y devolver</button>
            <button type="button" class="btn btn-success" ng-click="guardarEnviar()">Guardar y enviar</button>
        </div>
        <label for="comentarios" ng-if="comentarios_antiguos.length !== 0" >Comentarios realizados</label>
        <div class="well" ng-if="comentarios_antiguos.length !== 0" style="max-height: 300px; overflow-y: scroll;"><p ng-repeat="comentarios in comentarios_antiguos" ng-if="comentarios.comentarios !== null"><b><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>[[comentarios.comentarios]]</b><small> ([[comentarios.first_name+' '+comentarios.last_name]]: [[fechaLegible(comentarios.fecha)]])</small></p></div>
    </form>
</div>
{% endblock%}

{% block contenido_javascript %}
{% include "solicitudes/formulario/scripts.js" %}
{% endblock%}