{% extends 'base/base.html' %}

{% block contenido_estilos %}
{% include "admin/workflowList/estilos.css" %}
{% endblock%}

{% block contenido %}
    <div class="row" ng-controller="workflowListController">
        <h2>Administrar Workflow</h2>

        <a href="{% url 'nuevoWorkflow' %}" class="btn btn-info">Nuevo</a>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Responsable</th>
                        <th>Activo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="proceso in procesos">
                        <td>[[proceso.nombre]]</td>
                        <td>[[proceso.first_name]] [[proceso.last_name]]</td>
                        <td><label ng-if="proceso.publicado">Si</label>
                            <label ng-if="!proceso.publicado">No</label></td>
                        <td>
                            <a href="" class="btn btn-warning" ng-click="pasos(proceso.id)">Pasos</a>
                            <a href="" class="btn btn-info"  ng-click="editar(proceso.id)">Editar</a>
                            <a href="" class="btn btn-danger" ng-if="proceso.publicado" ng-click="cambiarEstado(proceso.id,false)">Anular</a>
                            <a href="" class="btn btn-success" ng-if="!proceso.publicado" ng-click="cambiarEstado(proceso.id,true)">Habilitar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block contenido_javascript %}
{% include "admin/workflowList/scripts.js" %}
{% endblock%}