{% extends 'base/base.html' %}

{% block contenido_estilos %}
{% include "admin/workflowList/estilos.css" %}
{% endblock%}

{% block contenido %}
    <div class="row" ng-controller="workflowListController">
        <h2>Administrar Workflow</h2>

        <a href="{% url 'nuevoWorkflow' %}" class="btn btn-info">Nuevo</a>
        <br>
        <table class="table">
            <tr>
                <th>Nombre</th>
                <th>Usuario Creador</th>
                <th>Acciones</th>
            </tr>
            <tr ng-repeat="work in workflow track by $index">
                <td>[[work.nombre]]</td>
                <td>[[work.username]]</td>
                <td>
                    <a href="" class="btn btn-info" ng-click="edit(work.id)">Editar</a>
                    <a href="" class="btn btn-info" ng-click="disable(work.id)">Anular</a>
                </td>
            </tr>
        </table>

    </div>
{% endblock %}

{% block contenido_javascript %}
{% include "admin/workflowList/scripts.js" %}
{% endblock%}