<!--validar credenciales del usuario y redireccionar al menu correspondiente-->

{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "proyecto/plugins/adminTemplate/bower_components/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static "proyecto/plugins/adminTemplate/bower_components/metisMenu/dist/metisMenu.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "proyecto/plugins/adminTemplate/dist/css/sb-admin-2.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "proyecto/plugins/adminTemplate/bower_components/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
    <script>
    $(document).ready(function() { 
     
      $("#login").submit(function(event){
       event.preventDefault();
       $('#cargando').show(); 
            $.ajax({
                 type:'post',
                 url:'login_val',
                 datatype:'json',
                 async:true,
                 data:{
                    csrfmiddlewaretoken:'{{ csrf_token }}', 
                    'email':$('#email').val(),
                    'contrasena':$('#contrasena').val(),
                 },
                 success : function(json) {
                   console.log(json); // another sanity check
                    $('#identificacion').val('');
                    $('#nombre').val('');
                    $('#cargando').hide();
                    if (json.message == 1)
                        {$('#fallo').show();}
                    else if (json.message == 2)
                        {$('#ingreso').show();}

                    //$('#successful').show();  
                 },
                 error : function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                    $('#cargando').hide();
                    $('#fallo').show();  
                    
                 }
            });     
               
        });
     });
  
</script>

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <img class="logo" src="{% static "proyecto/img/compensar.png" %}">
                <div class="login-panel panel panel-default">
                    <div id="cargando" style="display:none; color: green;">Cargando...</div>
                    <div id="fallo" style="display:none; color: blue;">Error en el usuario o contraseña</div>
                    <div id="ingreso" style="display:none; color: green;"><a href="/index">Ingresar</a></div>
                    <div class="panel-heading">
                        <h3 class="panel-title">Ingrese sus credenciales</h3>
                    </div>
                    <div class="panel-body">
                        <form id ="login" role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Correo" id="email" type="email" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Contraseña" id="contrasena" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Recordar me
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" class="btn btn-lg btn-success btn-block">Ingresar</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="{% static "proyecto/plugins/adminTemplate/bower_components/jquery/dist/jquery.min.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "proyecto/plugins/adminTemplate/bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static "proyecto/plugins/adminTemplate/bower_components/metisMenu/dist/metisMenu.min.js" %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static "proyecto/plugins/adminTemplate/dist/js/sb-admin-2.js" %}"></script>

</body>

</html>
