{% extends "base/base.html" %}

{% block contenido_estilos %}
{% include "admin/reportes/openTickets/estilos.css" %}
{% endblock%}

{% block contenido %}
<div ng-controller="reporteOpenTicketController">
	<h2>Solicitudes Abiertas vs Cerradas</h2>
	{% csrf_token %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Estado</th>
                <th>Fecha Inicio</th>
                <th>Fecha Cierre</th>
                <th>Tiempo Abierta</th>
                <th>Asunto</th>
                <th>Encargado</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="solicitud in solicitudes|orderBy:'id'">
                <td>Id</td>
                <td>Estado</td>
                <td>Fecha Inicio</td>
                <td>Fecha Cierre</td>
                <td>Tiempo Abierta</td>
                <td>Asunto</td>
                <td>Encargado</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock%}

{% block contenido_javascript %}
{% include "admin/reportes/openTickets/scripts.js" %}
{% endblock%}