{% load staticfiles %}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="#"><i class="fa fa-user fa-fw"></i> Gestion de usuarios<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/crear_usuario">Creación sencilla</a>
                    </li>
                    <li>
                        <a href="/upload">Cargue Masivo</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Gestión de categorías<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/crear_proceso"><i class="fa fa-table fa-fw"></i> Gestión de categorías</a>
                    </li>
                    <li>
                        <a href="/buscar_proceso">Buscar procesos</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>