{% extends 'base/base.html' %}
{% block contenido %}
    <div class="row">
        <h2>Administrar Workflow</h2>

        <a href="{% url 'nuevo_workflow' %}" class="btn btn-info">Nuevo</a>
        <table>
            <tr ng-repeat="proceso in procesos">
                <th>Nombre</th>
                <th>Usuario Creador</th>
                <th>Fecha Modificación</th>
                <th>Acciones</th>
            </tr>
            <tr ng-repeat="proceso in procesos">
                <td>[[nombre]]</td>
                <td>[[user]]</td>
                <td>[[date]]</td>
                <td>
                    <a href="" class="btn btn-info" ng-click="edit(id)">Editar</a>
                    <a href="" class="btn btn-info" ng-click="disable(id)">Anular</a>
                </td>
            </tr>
        </table>> 
    </div>
{% endblock %}